@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  width: 100%;
  padding: 2rem 1.6rem;
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    padding: 3rem 9.4rem;
  }
}